@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Cairo", serif;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Cairo", serif !important;
  background-color: white !important;
  color: #0a0a0a;
}
.react-calendar__tile--active {
  background-color: #6b7280 !important;
}
.react-calendar__navigation__label__labelText {
  font-weight: bolder;
  color: #0a0a0a;
  text-transform: capitalize;
}

 {
  /* ------------------------------------ React Big Calender EDIT CSS */
}
.rbc-btn-group:first-child {
  display: none !important;
}
.rbc-btn-group:last-child {
  font-size: 16px !important;
}

.rbc-toolbar button {
  padding: 2px 5px !important;
  width: 100px !important;
  box-shadow: none !important;
  font-weight: bold !important;
}
/* .rbc-toolbar button:hover {
  background-color: #ecfeff !important;
} */
.rbc-active {
  background-color: #0891b2 !important;
  color: white !important;
  box-shadow: none !important;
}
.rbc-toolbar-label {
  text-align: left !important;
  padding: 0px 0px !important;
  font-weight: bold !important;
}

.rbc-today {
  background-color: #0891b2 !important;
  color: white !important;
}

.rbc-now {
  background-color: #cbd5e1 !important;
}
